body {
  background-color: #7bed9f;
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
  width: 350px;
  border-radius: 20px;
  background-color: whitesmoke;
}
.card> img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;   */
  border: none;
}
.card > h1 {
  color: skyblue;
}
.name{
  color: orange;
}
.btn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  width: 150px;
  height: 30px;
  margin: 10px;
  background-color: lightcyan;
  color: green;
}
.input {
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
}